#masthead {
    height: 456px;
    overflow: hidden;
    color: $white;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 56px;
}