.card {
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  background-color: transparent;
  .card-title a {
    @include ellipsis(2); // Ellipsis sur 2 lignes
    color: $black;
  }
  .card-img {
    overflow: hidden;
    border-radius: 0;
    @include ratio(16, 9); // Garder l'image au ratio
    @include zoomIn(.5s, 1.2);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .card-body {
    padding-left: 0;
  }
}

.card-featured {
    height: calc(100% - 20px);
    margin-bottom: 0;
  .card-img {
    @include ratio(3, 2); // Garder l'image au ratio
  }
}
