.main-navigation {
    background-color: $black;

    ul {
        padding: 0;
        margin: 0;
    }

    a {
        color: $white !important;
    }

    .nav-item {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;

        &:hover {
            .nav-link {
                opacity: .8;
            }
        }
    }

    .navbar-toggler {
        padding: 0 !important;
        border: none;
    }

    /*=============================================
    =            Social Menu                      =
    =============================================*/
    .social-links-menu {
        position: relative;
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: .5em;
        padding: 0 .5em;


        .menu-item {
            display: inline;

            a {
                display: inline-block;
                height: 20px;
                margin: 0 0.5em 0 0;
                text-align: center;
                width: 20px;

                .icon {
                    height: 18px;
                    width: 18px;
                    vertical-align: middle;
                    fill: $white;
                }
            }
        }

        &:before, &:after {
            display: block;
            position: absolute;
            top: 0;
            content: "";
            width: 1px;
            background-color: $red;
            height: 100%;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    /*=====  End of Social Menu            ======*/

    /*=============================================
    =            Search                           =
	=============================================*/
    .header-search {
        position: relative;
    }

    #searchform {
        input {
            box-sizing: border-box;
            width: 15px;
            height: 15px;
            border: 2px solid $white;
            border-radius: 50%;
            background: none;
            color: $white;
            font-size: 16px;
            outline: 0;
            -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
            transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;

            /*             -webkit-transform: translate(-100%, -50%);
                        -ms-transform: translate(-100%, -50%);
            			transform: translate(-100%, -50%); */
        }

        .search {
            position: absolute;
            top: 0px;
            left: 0;
            background: none;
            height: 30px;
            width: 30px;
            padding: 0;
            border-radius: 100%;
            outline: 0;
            border: 0;
            color: inherit;
            cursor: pointer;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; /* 
-webkit-transform: translate(-100%, -50%);
-ms-transform: translate(-100%, -50%);
transform: translate(-100%, -50%); */
        }

        .search:before {
            position: absolute;
            content: "";
            width: 8px;
            height: 2px;
            background-color: #fff;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            margin-top: 4px;
            margin-left: -4px;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }

        .close {
            position: relative;
            -webkit-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
            margin-top: 10px;
        }

        .close:before {
            position: absolute;
            content: "";
            width: 27px;
            height: 4px;
            margin-top: -1px;
            margin-left: -13px;
            background-color: #fff;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }

        .close:after {
            position: absolute;
            content: "";
            width: 27px;
            height: 4px;
            background-color: #fff;
            margin-top: -1px;
            margin-left: -13px;
            cursor: pointer;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .square {
            box-sizing: border-box;
            padding: 0 40px 0 10px;
            width: 300px;
            height: 50px;
            border: 2px solid #FFFFFF;
            border-radius: 0;
            background: none;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            outline: 0;
            -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
            transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
            -webkit-transition-delay: 0.4s, 0s, 0.4s;
            transition-delay: 0.4s, 0s, 0.4s;

            /*             -webkit-transform: translate(-100%, -50%);
                        -ms-transform: translate(-100%, -50%);
                        transform: translate(-100%, -50%); */
        }
    }

    #searchform.on {
        -webkit-animation-name: in-out;
        animation-name: in-out;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    /*=====  End of Search                 ======*/
}
